body {
     background-color: #f0f0f0;
     padding:0;
     margin:0;
     height:100vh;
 }

#container {
     box-sizing: border-box;
     justify-content:center;
     align-items: center;
     text-align: center;
     width:100%;
     height:100%;
     position: relative;
     top:0;
     margin: 0;
     overflow: hidden;
 }
 #container::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: url('background.jpg') center/cover no-repeat;
     filter: blur(10px); 
 }
 #mainNav { 
     height:120px;
     display: flex;
     box-sizing: border-box;
     width: 100%;
     padding: 35px 0;
     margin-top: 0;
     margin-right:0;
     background-color: #fff;
     position: relative;
     background: transparent;
 }
 #mainNav ul {
     width: 100%;
     justify-content: space-evenly;
     text-align: center;
     font-weight: bold;
     font-size: larger;
     padding: 0;
 }
 #mainNav ul li{
     list-style-type:none;
     display: inline-block;
     margin: 0 20px;
     position: relative;
     
 }
 #mainNav ul li a{
     text-decoration: none;
     color:#CACACA;
     text-transform: uppercase;
 }
 #mainNav ul li a:hover {
     color:#fff;
 }
 #mainNav ul li::after{
     content: "";
     height:3px;
     width: 0;
     background: #fff;
     position: absolute;
     left:0;
     bottom: -10px;
     transition: 0.5s;
 }
 
 #mainNav ul li:hover::after{
     width: 100%;
 }
 footer {
     color:white;
     position: absolute;
     bottom: 0;
     right: 0;
     width: 100%;
     text-align: center;
 }
 hr {
     color:#fff;
     size: 1px;
     width:70%;
     opacity: 0.3;
 }
header {
     font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
#login {
     position:relative;
     left:37%;
     top:12%;
     justify-content:center;
     align-items: center;
     text-align: center;
     border:solid #CACACA 1px; 
     border-radius: 30px;
     border-spacing: 10px;
     display: block;
     width: 430px;
     padding: 30px;
     background: #FFF;
     font-family: 'Poppins', sans-serif;
}
input {
     position: relative;
     height: 50px;
     width: 100%;
     margin-top: 20px;
     border-radius: 6px;
     outline: none;
     border: 1px solid#CACACA;
}
#loginButton {
     background-color: #2a6ee3; 
     color: white; 
     padding: 10px 20px; 
     border: none; 
     border-radius: 4px; 
     font-size: 20px; 
     cursor:pointer;}
#loginButton:hover { background-color:#0a579a;}
#signup a{
     color:blue;
     text-decoration: none;
     transition: text-decoration 1ms;
}
#signup a:hover{
     text-decoration: underline;
     color:darkblue;
}
#Email, #password {
     cursor: pointer;
     font-size: 16px;
     font-weight: 400;
}
#Email:focus, #password:focus {
     border-color: #CACACA;
     transition: 1ms;
     border-bottom-width: 2px;
}
#password-field {
     height: 74px;
}
.eye-icon{
     position: relative;
     left:45%;
     bottom:25px; 
     transform: translateY(-50%);
     font-size: 18px;
     color: #8b8b8b;
     cursor: pointer;
     padding: 5px;
 }
#otherOptions {
     display: flex;
     justify-content: left;
     font-size: small;

}
#rememberMe {
     width: 15px;
     height: 15px;
}
label {
     margin-top: 20px;
     font-size: normal;
}
#forgetPW {
     color:gray;
     text-decoration: none;
     transition: text-decoration 1ms;
     margin-left: 150px;
}
#forgetPW:hover {
     text-decoration: underline;
     color:darkslategray;
}
#resetPW {
     font-weight: normal;
     color:#45a049;
}
 
