body {
    background-color: #f0f0f0;
    padding:0;
    margin:0;
    height:100vh;
}
#container {
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    text-align: center;
    width:100vw;
    height:100vh;
    position: relative;
    top:0;
    margin: 0;
    overflow: auto;
    min-width: 50%;
}
#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125vh;
    background: url('background.jpg') center/cover repeat;
    filter: blur(10px); 
}
#mainNav { 
    height:120px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 35px 0;
    margin-top: 0;
    margin-right:0;
    background-color: #fff;
    position: relative;
    background: transparent;
}
#mainNav ul {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0;
}
#mainNav ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
#mainNav ul li a{
    text-decoration: none;
    color:#CACACA;
    text-transform: uppercase;
}
#mainNav ul li a:hover {
    color:#fff;
}
#mainNav ul li::after{
    content: "";
    height:3px;
    width: 0;
    background: #fff;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

#mainNav ul li:hover::after{
    width: 100%;
}
hr {
    color:#fff;
    size: 1px;
    width:70%;
    opacity: 0.3;
}
footer{
    position:relative;
    bottom: 20px;
    left: 0;
    background: transparent;
    width: 100vw;
    font-family:sans-serif;
    color: #fff;
}

.footer-content{
    text-align: center;
}

.footer-content h3{
    text-transform: capitalize;
    line-height: 1;
    font-weight: bold;
    font-size:0.75rem ;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 0.5;
    font-size:0.5rem;
}

.separate{
    position: relative;
    float: left;
    width: 40%;
}
.column{
    width: 100%;
    height: 100vh;
}
.contact-text{
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
}

.contact-text h1{
    font-size: 4vw;
    margin-left: auto;
}
.contact-text p{
    margin-top: 20px;
    font-size: 2vw;
}
.businessHour{
    margin-top: 60px;
    margin-left: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    box-shadow:  0.3em 0.3em 1em rgba(30, 30, 30, 0.6);
}

.businessHour h3{
    padding-top: 30px;
    padding-left: 20px;
}
.businessHour p{
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.container{
    float:flex;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separate::after{
    content: "";
    display: table;
    clear: both;
}
#contactBox {
    position: relative;
    top:5%;
    left:5%;
    height:80%;
}
#formBox {
    position: relative;
    top:5%;
    left:15%;
    height:80%;
    text-align: left;
}
form{
    background: #252525;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    height:80%;
}
@media screen and (max-height: 880px) {
    form{
     padding: 1vw 2vw;
     font-size:0.8em;
    }
}
form h3{
    color: rgb(255, 255, 255);
    font-weight: 800;
}

form input,form textarea{
    border: 0;
    margin:5px 0;
    padding: 10px;
    outline: none;
    background:white ;
    font-size: 16px;
}
input::placeholder,
textarea::placeholder {
    font-family:'Courier New', Courier, monospace;
    color: #999; /* Example color */
}
form button{
    padding: 15px;
    background:#2a6ee3 ;
    color:white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 10px;
}
form button:hover{
    background-color:#0a579a;
}
