.body {
    background-color: #f0f0f0;
}
.sidebar {
    z-index: 2;
    float: left;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(204, 231, 240);
}
.sidebar header{
    font: 22px;
    padding: 10px 15px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
    background-color: rgb(173, 216, 230);
    line-height: 110px;
    border: solid 3px rgb(173, 216, 230);
}
.sidebar ul {
    margin:0;
}
.sidebar ul li {
    text-align: left;
    margin-left: 30px;
}
.sidebar a {
    font-size: 20px;
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    line-height: 65px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(173, 216, 230);
    border-top: 1px solid rgb(173, 216, 230);
} 
.sidebar a.logout {
    line-height: 25px;
    bottom: 2px;
    right: 2px;
    position:absolute;
    padding-right: 45px;
    size:50%;
    transition: font-size 1ms;
}
.sidebar a:hover {
    padding-left: 50px;
    background-color: rgb(124, 166, 180);
}
.sidebar a.logout:hover {
    font-size:22px;
    font-weight: bold;
}

#container {
    box-sizing: border-box;
    justify-content: center;
    align-items: right;
    width:calc(100% - 300px);
    position: absolute;
    top:0;
    margin: 0;
}

#mainNav { 
    height:136px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 35px 0;
    margin-top: 0;
    margin-right:0;
    background-color: #fff;
    border: solid 3px rgb(173, 216, 230);
    position: relative;
    left:290px;
}
#mainNav ul {
    width: 40%;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
#mainNav ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
#mainNav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
#logoLink {
    pointer-events: none;
    cursor: default;
}
#logo {
    margin-left: 500px;
}
#mainNav ul li::after{
    content: "";
    height:3px;
    width: 0;
    background: rgb(173, 216, 230);
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

#mainNav ul li:hover::after{
    width: 100%;
}

#content {
    width: calc(100%-300px);
    margin-left: 50%;
    position:relative;
    text-align: left; 
    align-items: center;
    justify-self: center;
    border:solid #CACACA 1px; 
    border-radius: 30px;
    border-spacing: 10px;
    display: block;
    margin-top: 50px;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
}
header {
    text-align: center;
}

label {
    font-weight: bold;
    display:contents;
    margin-bottom: 5px;
}
.userInput {width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}
    #submit {
        background-color: #2a6ee3; 
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 4px; 
        font-size: 20px; 
        cursor:pointer;}
   #submit:hover {background-color:#0a579a;}
   #subButton {
    text-align: center;
    margin-bottom: 15px;
}