/* navbar styling*/


/*side bar*/



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: rgb(245,245,245,0.2);
}

form {
    display: inline-block;

}

#notifications{
    position: absolute;
    top: 50%;
    left: 50%;
    width:30%;
    height:40%;
    border-radius:15px;
    transform: translate(-50%, -50%);
    background-color:white;

}

#notifications h2{

    text-align:center;

}

#notifications form{

    margin-left:10px;
}

input[type="submit"] {
    background-color: #037cfd;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
}

label {
    display: block;
    margin-bottom: 5px;
}

.radio-group {
    display: inline-block;
    margin-right: 10px;
}

.radio-group label {
    display: inline-block;
    margin-right: 5px;
}

.sidebar {
    z-index: 2;
    float: left;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgb(173, 216, 230), #fff);
}
.sidebar header{
    font: 22px;
    padding: 10px 15px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
    background-color: rgb(173, 216, 230);
    line-height: 110px;
    border: solid 3px rgb(173, 216, 230);
}

.sidebar a {
    text-align: left;
    font-size: 20px;
    padding: 10px 35px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    display: block;
    line-height: 65px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(173, 216, 230);
    border-top: 1px solid rgb(173, 216, 230);
} 
.sidebar a:hover {
    padding-left: 70px;
    transition: 1ms;
    background-color: rgb(124, 166, 180);
}

#container {
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
    width:calc(100% - 300px);
    height:100%;
    position: relative;
    top:0;
    left:300px;
    margin: 0;
    overflow: hidden;
    background: url('background.jpg') center/cover no-repeat;
}
#container::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:relative;
    filter: blur(10px); 
}
#mainNav { 
    height:136px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 35px 0;
    margin-top: 0;
    margin-right:0;
    background-color: #fff;
    position: relative;
    background: transparent;
}
#mainNav ul {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
#mainNav ul li{
    list-style-type:none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
#mainNav ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
#mainNav ul li::after{
    content: "";
    height:3px;
    width: 0;
    background: rgb(173, 216, 230);
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

#mainNav ul li:hover::after{
    width: 100%;
}

html, body {
    overflow: auto; /* Enable scrolling when content exceeds the viewport. */
    height:100%;

}






